@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  --font-name: "Questrial", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
    font-family: var(--font-name);
  }
.logo-img{
  background-color: var(--primary-color);
  line-height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

::-webkit-scrollbar {
    width: 0px;
}  
.react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
  
.detail-image {
    width: 729px;
    height: 742px;
}

.hero-banner-img {
   display: flex;
   justify-content: space-between;
   padding-top: 150px;
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
  
  }
  
  .exercise-card {
    width: 300px;
    height: 445px;
    background: #fff;
    border-top: 4px solid var(--primary-color);
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 326px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .search-btn:hover {
    color: var(--primary-color) !important;
    border: 1px solid var(--heading-color) !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    height: 310px;
    text-decoration: none;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }
  
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }
      
    .hero-banner-img {
      display: none;
    }
  
    .exercise-card {
      width: 320px;
    }
  
    .exercise-video {
      width: 280px;
      height: 250px;
    }
  
  }
  
  @media screen and (max-width:400px) {
    .exercise-card {
      width: 240px;
    }
  }